@font-face {
  font-family: 'Poppins_Regular';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins_Medium';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins_Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
